! yeah copy paste
URxvt.clipboard.copycmd: xclip -i -selection clipboard
URxvt.clipboard.pastecmd:xclip -o -selection clipboard

! yeah disable shit
URxvt.iso14755:		false

! yeah buffered
URxvt.buffered:         true

! yeah urgent on bell 
URxvt.urgentOnBell:	true

! yeah open links
urxvt*perl-lib:		/usr/lib/urxvt/perl/
urxvt*perl-ext-common:	default,matcher
!urxvt*urlLauncher:	/usr/bin/firefox
URxvt.url-launcher:	/usr/bin/firefox
urxvt*matcher.button:	1
urxvt*matcher.pattern.1:\\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

! yeah self explanatory
URxvt*scrollBar:	false
URxvt*cursorBlink:	true
URxvt*saveLines:	5000
URxvt*borderless:	1

! yeah fonts
URxvt.font:		xft:Droid Sans Mono:pixelsize=11:Regular
URxvt.boldFont:		xft:Droid Sans Mono:pixelsize=11:Bold
URxvt.italicFont:	xft:Droid Sans Mono:pixelsize=11:Italic
URxvt.boldItalicFont:	xft:Droid Sans Mono:pixelsize=11:Bold:Italic
URxvt.letterSpace:	-1

! yeah colors
! solarized.dark from terminal.sexy

! special
*.foreground:   #93a1a1
*.background:   #002b36
*.cursorColor:  #93a1a1

! black
*.color0:       #002b36
*.color8:       #657b83

! red
*.color1:       #dc322f
*.color9:       #dc322f

! green
*.color2:       #859900
*.color10:      #859900

! yellow
*.color3:       #b58900
*.color11:      #b58900

! blue
*.color4:       #268bd2
*.color12:      #268bd2

! magenta
*.color5:       #6c71c4
*.color13:      #6c71c4

! cyan
*.color6:       #2aa198
*.color14:      #2aa198

! white
*.color7:       #93a1a1
*.color15:      #fdf6e3

